.users-container{
    display: flex;
    flex-direction: column;
    min-width: 30vw;
    max-height: 60vh;
    border: 5px solid cornflowerblue;
    border-radius: 16px;    
}

.list-header {
    display: flex;
    height: 50px;
    width: 100%;
    border: 5px solid lightblue;
    border-radius: 8px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: blueviolet;
}

.list-header h3 {
    margin: 0;
}

.user-item {
    display: flex;
    border: 3px solid teal;
    background-color: teal;
    min-height: 40px;
    margin: 5px;
    padding: 5px;
    border-radius: 8px;
    justify-content: center;
    cursor: pointer;
    color: wheat;
}

.user-item:nth-of-type(even) {
    border: 3px solid tomato;
    background-color: tomato;
}