@import "../../../../stylings/_variables.scss";

.todos-container {
    display: flex;
    flex-direction: column;
    min-width: 45vw;
    max-height: 60vh;
    border: 5px solid $container-border;
    border-radius: 16px;
}

@media only screen and (max-width: 600px) {
    .todos-container {
        min-width: 90vw;
    }
}

.list-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    min-height: 50px;
    color: $font-color;
    background-color: $container-header;
}

.list-header h3 {
    margin: 0;
}

.todo-item {
    display: flex;
    background-color: $todo-item-bg;
    min-height: 40px;
    margin: 5px;
    padding: 5px;
    border-radius: 8px;
    justify-content: center;
    cursor: pointer;
    color: $font-color;
    margin-bottom: 5px;
}

.todo-item:hover {
    color: $item-focus-font-color;
}

.todo-item.active {
    background-color: $user-item-active-bg;
}

.action-btn { 
    background-color: $buttom-cta;
    height: 40px;
    min-width: 100px;
    flex-grow: 0.6;
    font-size: 24px;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    margin: 5px;
    color: $font-color;
}

.action-btn:active {
    transform: scale(0.98);
}

.action-btn:focus, .action-btn:hover {
    outline: 0;
    color: $font-color-focus;
}

