.home {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EDC7B7;
    height: 90vh;
    width: 100vw;
}

.user-todos-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}