$home-background-color: #dbe4ee;
$header-color: #054a91;
$footer-color: #054a91;
$container-border: #3e7cb1;
$container-header: #3e7cb1;
$font-color: white;
$buttom-cta: #ea7317;
$font-color-focus: #dbe4ee;
$user-item-bg: #1976d2;
$item-focus-font-color: #e7d4ad;
$user-item-active-bg: #06aed5;
$todo-item-active-bg: #06aed5;
$todo-item-bg: #eb8a90;
$todo-item-bg-complete: #aec3b0;
$dialog-bg: #8ecae6;
$dialog-btn-clear: #d1495b;
$dialog-btn-save: #ea7317;